.movie {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F9F9F9;
    height: 134px;
}

.movie__info {
    padding: 22px 0 22px 22px;
}

.movie__info_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.movie__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 13px;
}

.movie__duration {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0 0 26px 0;
    padding-bottom: 0;
    color: #A0A0A0;
}

.movie__like {
    background-image: url(../../images/like.png);
    width: 14px;
    height: 12px;
    object-fit: cover;
    object-position: top;
    border: none;
    background-color:  #F9F9F9;
    box-sizing: border-box;
    padding: 0;
}

.movie__like_active {
    background-image: url(../../images/like-active.png);
}

.movie__img {
    width: 220px;
    height: 122px;
    padding: 6px 6px 6px 0;
    object-fit: cover;
}

.movie__unsaved {
    width: 14px;
    height: 12px;
    object-fit: cover;
    object-position: top;
    border: none;
    box-sizing: border-box;
    padding: 0;
    background-image: url(../../images/unsaved.png);
}

@media screen and (max-width: 570px) {
    .movie {
        flex-direction: column-reverse;
        height: 232px;
    }

    .movie__img {
        width: 300px;
        height: 168px;
        padding: 0;
    }

    .movie__info {
        padding: 14px 16px 0 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .movie__name {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 8px;
    }

    .movie__duration {
        margin-bottom: 14px;
    }

    .movie__like {
        margin-top: 2px;
    }
}